body{
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: #DCAF8B;
    width: 100%;
    height: 70px;
}

.btnMenu{
    border: none;
    background: none;
    position: relative;
    font-size: 50px;
    bottom: 5px;
    left: 95.5%;
}

.imgHome{
    z-index: 0;
    position: relative;
    bottom: 7.6px;
    
}

#Title{
    position: relative;
    bottom: 620px;
    text-align: center;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 100px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 800px) {
.btnMenu{
    left: 87%;
}
}