#title {
    text-align: center;
    margin-top: 20px;
}

.materias-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    padding: 10px;
}

.materia-item {
    background: linear-gradient(
        145deg,
        rgba(207, 207, 207, 0.95),
        rgba(155, 155, 155, 0.92)
    );

    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 14px;

    width: 320px;
    min-height: 165px;

    padding: 18px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    position: relative;

    box-shadow:
        0 4px 12px rgba(0,0,0,0.08);

    transition: 0.25s ease;
    overflow: hidden;
}

.materia-item::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 6px;
    height: 100%;

    background: #3b69ff;
}

.materia-item:hover {
    transform: translateY(-4px);
    background: rgba(218, 218, 218, 0.95);

    box-shadow:
        0 8px 18px rgba(0,0,0,0.12);

    
}

.materia-status {
    position: absolute;
    top: 14px;
    right: 14px;

    background-color: #3b69ff;
    color: white;

    padding: 4px 10px;
    border-radius: 30px;

    font-size: 11px;
    font-weight: bold;

    text-transform: uppercase;
}

.materia-name {
    font-size: 18px;
    font-weight: 700;

    color: #111;

    margin-top: 8px;
    max-width: 80%;
}

.materia-codigo {
    font-size: 13px;
    font-weight: bold;

    color: #4b4b4b;

    background: rgba(255,255,255,0.5);

    width: fit-content;

    padding: 4px 10px;
    border-radius: 20px;

    margin-top: 2px;
}

.materia-info {
    font-size: 14px;
    color: rgba(0,0,0,0.6);

    line-height: 1.4;

    margin-top: 2px;
}

.materia-professor {
    margin-top: auto;

    font-size: 13px;
    font-weight: bold;

    color: #222;

    display: flex;
    align-items: center;
    gap: 5px;
}

.materia-professor::before {
    content: "👨‍🏫";
    font-size: 14px;
}

.btn-edit {
    background-color: #007bff;
    color: white;

    padding: 8px 16px;

    border: none;
    border-radius: 5px;

    text-decoration: none;
    margin-top: 10px;
}

.btn-delete {
    background-color: #dc3545;
    color: white;

    padding: 8px 16px;

    border: none;
    border-radius: 5px;

    text-decoration: none;
    margin-top: 10px;
}